.hybrid_research_body{
    background: #EDF2F4;
}
.hybrid_research_level_three{
    width: 71%;
    margin: 80px auto 0px auto;
    padding: 60px 50px;
    border-radius: 8px;
    background: #FFF;
}
.hybrid_research_level_three .hybrid_research_level_three_heading h2{
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.hybrid_research_level_three .hybrid_research_level_three_heading h2:nth-child(1){
    color: #333;
}
.hybrid_research_level_three .hybrid_research_level_three_heading h2:nth-child(2){
    color: #6E6E73;
}
.hybrid_research_level_three .hybrid_research_level_three_sec{
    display: grid;
    margin: 60px auto 0px auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
}
.hybrid_research_level_three .hybrid_research_level_three_sec section{
    text-align: left;
}
.hybrid_research_level_three .hybrid_research_level_three_sec section h2, p{
    text-align: left;
}