.marketing_research_body{
    width: 100%;
    background: #EDF2F4;
}
.marketing_research_level_three{
    width: 100%;
    padding-top: 60px;
    background: #FFF;
}
.marketing_research_level_three .marketing_research_level_three_heading{
    width: 71%;
    margin: 0px auto;
}
.marketing_research_level_three .marketing_research_level_three_heading h2:nth-child(1){
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.marketing_research_level_three .marketing_research_level_three_heading h2:nth-child(2){
    color: #6E6E73;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.marketing_research_level_three .marketing_research_level_three_heading p{
    color: #6E6E73;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.marketing_research_level_six{
    width: 100%;
    padding: 60px 280px;
}
.marketing_research_level_six h2{
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.marketing_research_level_six h2 span{
    color: #6E6E73;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.marketing_research_level_six_heading_blogs_parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 75px auto 0px auto;
}
.marketing_research_level_six_heading_blogs_child{
    display: flex;
}
.marketing_research_level_six_heading_blogs_child section img{
    width: 163px;
    height: 150px;
}
.marketing_research_level_six_heading_blogs_child section:nth-child(2){
    padding: 30px;
    text-align: left;
}
.marketing_research_level_six_heading_blogs_child section h2{
    color: #333;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.marketing_research_level_six_heading_blogs_child section p:nth-child(1){
    color: #666;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.marketing_research_level_six_heading_blogs_child_blog{
    color: #0166B8;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    cursor: pointer;
}