.marketing_research_body{
    width: 100%;
    background: #EDF2F4;
}
.marketing_research_level_two{
    display: grid;
    padding: 80px 0px 0px 0px;
}
.marketing_research_level_two .marketing_research_level_two_heading h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.marketing_research_level_two .marketing_research_level_two_heading h2:nth-child(1){
    color: #333;
}
.marketing_research_level_two .marketing_research_level_two_heading h2:nth-child(2){
    color: #6E6E73;
}
.marketing_research_level_two .marketing_research_level_two_heading_card_parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px 100px 80px 100px;
    padding: 24px;
    gap: 30px;
}
.marketing_research_level_two_heading_card_parent .marketing_research_level_two_heading_card_child{
    padding: 24px;
    text-align: left;
    border-radius: 8px;
    background-color: #FFF;
}
.marketing_research_level_two_heading_card_parent .marketing_research_level_two_heading_card_child img{
    height: 40px;
    width: 40px;
}
.marketing_research_level_two_heading_card_parent .marketing_research_level_two_heading_card_child h2{
    margin: 24px 0px 0px 0px;
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.marketing_research_level_two_heading_card_parent .marketing_research_level_two_heading_card_child p{
    margin: 8px auto 0px auto;
    color: #666666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.marketing_research_level_three{
    width: 100%;
    padding-top: 60px;
    background: #FFF;
}
.marketing_research_level_three .marketing_research_level_three_heading{
    width: 71%;
    margin: 0px auto;
}
.marketing_research_level_three .marketing_research_level_three_heading h2:nth-child(1){
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.marketing_research_level_three .marketing_research_level_three_heading h2:nth-child(2){
    color: #6E6E73;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.marketing_research_level_three .marketing_research_level_three_heading p{
    color: #6E6E73;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.marketing_research_level_four{
    width: 100%;
    margin: 40px auto;
    padding: 60px 0px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}
.marketing_research_level_four h2{
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.marketing_research_level_four p{
    width: 71%;
    margin: 24px auto 0px auto;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.marketing_research_level_four .marketing_research_level_four_card_parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 60px 100px 80px 100px;
    gap: 30px;
}
.marketing_research_level_four_card_parent .marketing_research_level_four_card_child {
    padding: 24px;
    border-radius: 8px;
    background: #FFF;
}
.marketing_research_level_four_card_parent .marketing_research_level_four_card_child h2{
    text-align: left;
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.marketing_research_level_four_card_parent .marketing_research_level_four_card_child p{
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.marketing_research_level_five{
    width: 100%;
    margin-top: 80px;
    padding: 60px 0px 0px 0px;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}
.marketing_research_level_five h2{
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.marketing_research_level_five p{
    width: 71%;
    margin: 24px auto;
    color: #6E6E73;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.marketing_research_level_five_sliding_info{
    /* display: flex; */
    position: relative;
    align-items: center;
    text-align: center;
    margin: 60px 100px 0px 100px;
    gap: 30px;
    /* border: 1px solid red; */
}
.marketing_research_level_five_sliding_info{
    /* display: flex; */
    position: relative;
    align-items: center;
    text-align: center;
    margin: 60px 100px 0px 100px;
    gap: 30px;
    /* border: 1px solid red; */
}
.marketing_research_level_five_sliding_info .item{
    margin: 0px 10px 60px 10px;
    border-radius: 8px;
    /* padding-bottom: 24px; */
    background: #FAFAFA;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.marketing_research_level_five_sliding_info .item img{
    width: 100%;
}
.marketing_research_level_five_sliding_info .item h2{
    margin: 24px auto 24px 24px;
    padding-bottom: 24px;
    text-align: left;
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.marketing_research_level_five_sliding_info .alice-carousel__prev-btn [data-area]::after{
    position: absolute;
    left: -40px;
    color: black;
    /* border: 1px solid red; */
}
.marketing_research_level_five_sliding_info .alice-carousel__next-btn [data-area]::after{
    position: absolute;
    left: 10px;
    color: black;
    /* border: 1px solid red; */
}
.marketing_research_level_seven{
    width: 100%;
    margin: 80px auto 0px auto;
    padding: 60px 0px;
    background: #FFF;
    /* background-color: rgb(26, 135, 135); */
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}
.hybrid_research_level_four_unordered_list .alice-carousel__prev-btn-wrapper{
    position: absolute;
    color: black !important;
}
.marketing_research_level_seven .marketing_research_level_seven_heading{
    margin: 60px auto  40px auto;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.marketing_research_level_seven .marketing_research_level_seven_heading h2:nth-child(1){
    color: #333;
}
.marketing_research_level_seven .marketing_research_level_seven_heading h2:nth-child(2){
    color: #6E6E73;
}
.marketing_research_level_seven_sec{
    width: 71%;
    display: flex;
    margin: 24px auto 0px auto;
    padding: 24px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}
.marketing_research_level_seven_sec section:nth-child(2){
    text-align: left; 
    padding: 32px;
    gap: 8px;
}
.marketing_research_level_seven_sec section:nth-child(2) div h2{
    /* margin: 32px 32px 0px 32px; */
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.marketing_research_level_seven_sec section:nth-child(2) div p{
    /* margin: 8px auto 0px auto; */
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.marketing_research_level_seven_sec section:nth-child(2) div h3{
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
}
.marketing_research_level_seven_sec section:nth-child(2) div ul li{
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.marketing_research_level_eight{
    width: 70%;
    margin: 0px auto;
    padding-top: 60px;
    /* box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25); */
}
.marketing_research_level_eight .marketing_research_level_eight_heading h2{
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.marketing_research_level_eight .marketing_research_level_eight_heading h2 span{
    color: #6E6E73;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.marketing_research_level_eight_faq section{
    display: flex;
    justify-content: space-between;
    margin: 40px auto 0px auto;
}
.marketing_research_level_eight_faq section h5{
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.marketing_research_level_eight_faq section img{
    width: 24px;
    height: 24px;
}
.marketing_research_level_eight_faq .marketing_research_level_eight_faq_question h2{
    width: 66%;
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.marketing_research_level_eight_faq .marketing_research_level_eight_faq_question{
    width: 71%;
    display: flex;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
}
.marketing_research_level_eight_faq .marketing_research_level_eight_faq_question img{
    cursor: pointer;
}
.marketing_research_level_eight_faq .marketing_research_level_eight_faq_answer p{
    display: none;
}
.marketing_research_level_eight_faq_question img:focus ~ .marketing_research_level_eight_faq_answer p{
    display: block;
    width: 71%;
    margin: 8px auto;
    text-align: left;
    border: 1px solid red;
}
.marketing_research_level_six{
    width: 100%;
    padding: 60px 280px;
}
.marketing_research_level_six h2{
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.marketing_research_level_six h2 span{
    color: #6E6E73;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.marketing_research_level_six_heading_blogs_parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 75px auto 0px auto;
}
.marketing_research_level_six_heading_blogs_child{
    display: flex;
}
.marketing_research_level_six_heading_blogs_child section img{
    width: 163px;
    height: 150px;
}
.marketing_research_level_six_heading_blogs_child section:nth-child(2){
    padding: 30px;
    text-align: left;
}
.marketing_research_level_six_heading_blogs_child section h2{
    color: #333;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.marketing_research_level_six_heading_blogs_child section p:nth-child(1){
    color: #666;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.marketing_research_level_six_heading_blogs_child_blog{
    color: #0166B8;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    cursor: pointer;
}