body{
    background: #EDF2F4;
}
.committed_culture_level_two{
    width: 86%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: #FFF;
}
.committed_culture_level_two section:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
    text-align: left;
}
.committed_culture_level_two section:nth-child(1) h2{
    color: #333;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.committed_culture_level_two section:nth-child(1) img{
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.committed_culture_level_two section:nth-child(2) p{
    margin: 60px;
    width: 40%;
}
.committed_culture_level_three{
    width: 86%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: #FFF;
}
.committed_culture_level_three section:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
    text-align: left;
}
.committed_culture_level_three section:nth-child(2) h2{
    color: #333;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.committed_culture_level_three section:nth-child(2) img{
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.committed_culture_level_three section:nth-child(1) p{
    margin: 60px;
    width: 40%;
}
.committed_culture_level_four{
    width: 94%;
    padding: 60px 100px;
    margin: 80px auto;
}
.committed_culture_level_four h2{
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.committed_culture_level_four h2 span{
    color: #6E6E73;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.committed_culture_level_four_sec{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 60px 100px 80px 100px;
    align-items: center;
    gap: 30px;
}
.committed_culture_level_four_sec  section:nth-child(1) ol li{
    cursor: pointer;
    text-align: left;
    margin: 16px auto;
}
.committed_culture_level_four_sec  section:nth-child(1) ol li:focus {
    color: blue;
    outline: none;
  }
.committed_culture_level_four_sec  section:nth-child(2) h2{
    text-align: left;
    color: #333;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.committed_culture_level_four_sec  section:nth-child(2) p{
    margin: 8px auto 60px auto;
    color: #6E6E73;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}