.about_us_body{
    width: 100%;
    background: #EDF2F4;
}
.about_us_level_two{
    width: 71%;
    margin: 80px auto;
    padding: 57px 56px;
    justify-content: center;
    align-items: center;
}
.about_us_level_two  h2{
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.about_us_level_two  h2 span{
    color: #6E6E73;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.about_us_level_two  p{
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
.about_us_level_three{
    width: 100%;
    /* padding: 90px 98px; */
    justify-content: center;
    align-items: center;
    background: #FFF;
}

.about_us_level_six_sec{
    width: 86%;
    display: flex;
    margin: 80px auto;
    border-radius: 8px;
    background: #FFF;
}
.about_us_level_six_sec .about_us_level_six_details{
    margin: 90px 60px;
}
.about_us_level_six_details h2{
    color: #333;
    text-align: left;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.about_us_level_six_details p{
    width: 90%;
    text-align: left;
    color: #666666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.statistics_body{
    width: 80%;
    /* display: grid; */
    /* grid-template-rows: repeat(2, 1fr); */
    margin: 80px auto 30px auto;
    gap: 30px;
    padding: 60px;
    border-radius: 8px;
    background: #FFF;
}
.statistics_body section:nth-child(1) p{
    color: #333;
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.statistics_body section:nth-child(1) h2{
    margin: 0 auto 60px auto;
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.statistics_body section:nth-child(1) h2 span{
    color: #6E6E73;
}
.statistics_body_parent_map{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.statistics_body_parent_second_child_map{
    margin: 30px auto;
    padding: 28px;
    border-radius: 8px 8px 0px 0px;
    background: #FAFAFA;
}
.statistics_body_parent_second_child_map h2{
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.statistics_body_parent_second_child_map p{
    color: #666;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}