.home_body{
    padding: 40px;
}
.home_pics_parent{
    margin: 30px auto;
}
.slick-slide img{
    margin: auto !important;
}
.home_pics_parent section img{
    cursor: pointer;
}
.home_pics_child img{
    width: 90%;
}
.home_pics_child{
    position: relative;
}
.home_pics_child h2{
    width: 50%;
    position: absolute;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-align: left;
    top: 7%;
    left: 10%;
}
.home_pics_child h5{
    display: none;
}
.home_pics_child :hover h5{
    display: block;
    color: #FFF;
    position: absolute;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
    top: 0;
    left: 7%;
}
.article_body{
    width: 90%;
    margin: 80px auto;
    padding: 60px;
    border-radius: 8px;
    background: #FFF;
}
.article_body :nth-child(1) section p{
    margin: 0;
    color: #333;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.article_body h2{
    margin: 0;
    width: 60%;
    margin: 0 auto;
    color: #333;
    text-align: center;
    font-size:  48px;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.article_body h2 span{
    color: #6E6E73
}
.article_body_section_map{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 60px auto;
    text-align: left;
    gap: 30px;
}
.article_body_section_map_child{
    width: 80%;
}
.article_body_section_map img{
    border-radius: 8px 8px 0px 0px;
    background: lightgray -4.81px -0.795px / 142.742% 100% no-repeat;
}
.article_body_section_map p{
    margin: 26px auto 0 auto;
    color: #666;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.article_body_section_map h5{
    margin: 0 auto 16px auto;
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.empowering_body{
    margin: 80px 100px;
}
.empowering_body_section_one  p{
    margin: 0 auto;
    color: #333;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.empowering_body_section_one h2{
    margin: 0 auto;
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.empowering_body_section_one h2 span{
    color: #6E6E73;
}
.empowering_body_section_map{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 80px 0;
    padding: 24px;
    gap: 30px;
    text-align: left;
    border-radius: 8px;
    background: #FFF;
}
.empowering_body_section_map_child section{
    padding: 24px;
    border-radius: 8px;
    color: #fff;
}
.empowering_body_section_map_child section p{
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.empowering_body_section_map_child section h4{
    margin: 8px 0;
    width: 90%;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.empowering_body_section_map_child h5{
    color: #666666;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.our_products_body section:nth-child(1) p{
    color: #333;
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.our_products_body section:nth-child(1) h2{
    color: #333;
    margin: 0;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.our_products_body section:nth-child(1) h2 span{
    color: #6E6E73;
}
.our_products_body section:nth-child(2){
    width: 100%;
    height: 100%;
    margin: 60px auto;
    position: relative;
    border-radius: 8px;
}
.our_products_body section:nth-child(2){
    position: relative;
    border-radius: 8px;
    background: linear-gradient(99deg, #DB00FF 0%, #CE9CFF 100%);
}
.our_products_body section:nth-child(2) p{
    width: 50%;
    position: absolute;
    color: #F0F0F0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    text-align: left;
    top: 10%;
    left: 5%;
}
.our_products_body section:nth-child(2) h2{
    width: 50%;
    position: absolute;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-align: left;
    top: 15%;
    left: 5%; 
}
.our_products_body section:nth-child(2) h5{
    display: none;
}
.our_products_body section:nth-child(2) a{
    display: none;
}
.our_products_body section:nth-child(2):hover{
    background: rgba(0, 0, 0, 0.60);
}
.our_products_body section:nth-child(2):hover h5{
    width: 45%;
    display: block;
    position: absolute;
    color: #FFF;
    text-align: left;
    position: absolute;
    top: 25%;
    left: 5%;
}
.our_products_body section:nth-child(2):hover a{
    width: 50%;
    display: block;
    position: absolute;
    color: #FFF;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 5%;
}
.our_products_body_section_three{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 60px auto;
    border-radius: 8px;
}
.products_three_one{
    position: relative;
    background: linear-gradient(126deg, #96C0FF -6.72%, #06F 83.88%);
}
.products_three_one p{
    width: 50%;
    position: absolute;
    color: #F0F0F0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    text-align: left;
    top: 10%;
    left: 5%;
}
.products_three_one h3{
    width: 50%;
    position: absolute;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-align: left;
    top: 10%;
    left: 5%; 
}
.products_three_one h5{
    display: none;
}
.products_three_one a{
    display: none;
}
.products_three_one :hover{
    background: rgba(0, 0, 0, 0.60);
}
.products_three_one :hover h5{
    width: 45%;
    display: block;
    position: absolute;
    margin: 20px auto;
    color: #FFF;
    text-align: left;
    position: absolute;
    top: 25%;
    left: 5%;
}
.products_three_one :hover a{
    width: 50%;
    display: block;
    position: absolute;
    color: #FFF;
    text-align: left;
    position: absolute;
    top: 45%;
    left: 5%;
}
.our_products_body_section_three .products_three_two{
    position: relative;
    background: linear-gradient(236deg, #B08BFF -9.17%, #5000FA 78.3%);
}
.our_products_body_section_three .products_three_two p{
    width: 50%;
    position: absolute;
    color: #F0F0F0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    text-align: left;
    top: 10%;
    left: 5%;
}
.our_products_body_section_three .products_three_two h3{
    width: 50%;
    position: absolute;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-align: left;
    top: 10%;
    left: 5%; 
}
.our_products_body_section_three .products_three_two h5{
    display: none;
}
.our_products_body_section_three .products_three_two a{
    display: none;
}
.our_products_body_section_three .products_three_two :hover{
    background: rgba(0, 0, 0, 0.60);
}
.our_products_body_section_three .products_three_two :hover h5{
    width: 45%;
    display: block;
    position: absolute;
    color: #FFF;
    text-align: left;
    position: absolute;
    top: 25%;
    left: 5%;
}
.our_products_body_section_three .products_three_two :hover a{
    width: 50%;
    display: block;
    position: absolute;
    color: #FFF;
    text-align: left;
    position: absolute;
    top: 45%;
    left: 5%;
}
.statistics_body{
    width: 80%;
    /* display: grid; */
    /* grid-template-rows: repeat(2, 1fr); */
    margin: 80px auto 30px auto;
    gap: 30px;
    padding: 60px;
    border-radius: 8px;
    background: #FFF;
}
.statistics_body section:nth-child(1) p{
    color: #333;
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.statistics_body section:nth-child(1) h2{
    margin: 0 auto 60px auto;
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.statistics_body section:nth-child(1) h2 span{
    color: #6E6E73;
}
.statistics_body_parent_map{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.statistics_body_parent_second_child_map{
    margin: 30px auto;
    padding: 28px;
    border-radius: 8px 8px 0px 0px;
    background: #FAFAFA;
}
.statistics_body_parent_second_child_map h2{
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.statistics_body_parent_second_child_map p{
    color: #666;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}