.main_body{
    margin: 0px;
    padding: 0px;
    background: #EDF2F4;
}
.level_four{
    width: 86%;
    height: 38.3%;
    margin: 80px auto 0 auto;
    background-color: #fff;
    border-radius: 8px;
}
.level_four h1{ 
    display: inline-block;
    height: 80px;
    margin: 60px auto 0px auto;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: #333;
}
.level_four h1 span{
    color: #6E6E73;
}
.level_four_sides{
    display: flex;
    border: 1px solid red;
}
.level_four .left_side{
    width: 45%;
    margin: 91px 0px 93px 60px;
    text-align: left;
    border: 2px solid blue;
}
.level_four .level_four_sides .left_side h1{
    margin: 16px auto 0px 0px;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.level_four .right_side .column_one{
    display: flex;
    width: 16%;
    height: 62px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid red;
}
.level_four .right_side .column_one h1{
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
