.consulting_services_body{
    background: #EDF2F4;
}
.consulting_services_level_three{
    width: 86%;
    margin: 80px auto 0px auto;
    padding: 60px;
    border-radius: 8px;
    background: #FFF;
}
.consulting_services_level_three .consulting_services_level_three_heading{
    width: 60%;
    margin: 0px auto ;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;;
}
.consulting_services_level_three .consulting_services_level_three_heading h2{
    color: #333;
}
.consulting_services_level_three .consulting_services_level_three_heading h2 span{
    color: #6E6E73;
}
.consulting_services_level_three .consulting_services_level_three_gridcards_parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}
.consulting_services_level_three_gridcards_parent .consulting_services_level_three_gridcards_child{
    padding: 40px 40px 0px 40px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 31px;
    border-radius: 8px;
    background: #F0F0F0;
}
.consulting_services_level_three_gridcards_parent .consulting_services_level_three_gridcards_child h2{
    color: #333;
    text-align: left;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.consulting_services_level_three_gridcards_parent .consulting_services_level_three_gridcards_child p{
    color: #666;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.consulting_services_level_three_gridcards_parent .consulting_services_level_three_gridcards_child img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    background:lightgray 50%;
}