.health_care_body{
    width: 100%;
    background: #EDF2F4;
}
.health_care_level_three{
    width: 94%;
    margin: 60px auto 0px auto;
    padding-top: 60px;
    border-radius: 8px;
    background: #FFF;
}
.health_care_level_three .health_care_level_three_heading{
    margin: 0px auto 80px auto;
}
.health_care_level_three_heading h2:nth-child(1){
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.health_care_level_three_heading h2:nth-child(2){
    color: #6E6E73;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.health_care_level_three .health_care_level_three_sec{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 60px 100px 80px 100px;
    align-items: center;
    gap: 30px;
}
.health_care_level_three_sec  section:nth-child(1) ol li{
    cursor: pointer;
    text-align: left;
    margin: 16px auto;
}
.health_care_level_three_sec  section:nth-child(1) ol li:focus {
    color: blue;
    outline: none;
  }
.health_care_level_three_sec  section:nth-child(2) h2{
    text-align: left;
    color: #333;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.health_care_level_three_sec  section:nth-child(2) p{
    margin: 8px auto 60px auto;
    color: #6E6E73;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
.health_care_level_eight{
    width: 100%;
    padding: 60px 280px;
}
.health_care_level_eight h2{
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.health_care_level_eight h2 span{
    color: #6E6E73;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.health_care_level_eight_heading_blogs_parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 75px auto 0px auto;
}
.health_care_level_eight_heading_blogs_child{
    display: flex;
}
.health_care_level_eight_heading_blogs_child section img{
    width: 163px;
    height: 150px;
}
.health_care_level_eight_heading_blogs_child section:nth-child(2){
    padding: 30px;
    text-align: left;
}
.health_care_level_eight_heading_blogs_child section h2{
    color: #333;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.health_care_level_eight_heading_blogs_child section p:nth-child(1){
    color: #666;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.health_care_level_eight_heading_blogs_child_blog{
    color: #0166B8;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    cursor: pointer;
}