.health_care_body{
    width: 100%;
    background: #EDF2F4;
}
.health_care_level_two{
    display: grid;
    padding: 80px 0px 0px 0px;
}
.health_care_level_two .health_care_level_two_heading h2{
    width: 56.6%;
    /* display: flex; */
    margin: 0px auto;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.health_care_level_two .health_care_level_two_heading h2{
    color: #333;
}
.health_care_level_two .health_care_level_two_heading h2 span{
    color: #6E6E73;
}
/* .health_care_level_two .health_care_level_two_heading h2:nth-child(2){
    color: #6E6E73;
} */
.health_care_level_two .health_care_level_two_heading_card_parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px 100px 80px 100px;
    padding: 24px;
    gap: 30px;
}
.health_care_level_two_heading_card_parent .health_care_level_two_heading_card_child{
    padding: 24px;
    text-align: left;
    border-radius: 8px;
    background-color: #FFF;
}
.health_care_level_two_heading_card_parent .health_care_level_two_heading_card_child img{
    height: 40px;
    width: 40px;
}
.health_care_level_two_heading_card_parent .health_care_level_two_heading_card_child h2{
    margin: 24px 0px 0px 0px;
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.health_care_level_two_heading_card_parent .health_care_level_two_heading_card_child p{
    margin: 8px auto 0px auto;
    color: #666666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.health_care_level_three{
    width: 94%;
    margin: 60px auto 0px auto;
    padding-top: 60px;
    border-radius: 8px;
    background: #FFF;
}
.health_care_level_three .health_care_level_three_heading{
    margin: 0px auto 80px auto;
}
.health_care_level_three_heading h2:nth-child(1){
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.health_care_level_three_heading h2:nth-child(2){
    color: #6E6E73;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.health_care_level_three .health_care_level_three_sec{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 60px 100px 80px 100px;
    align-items: center;
    gap: 30px;
}
.health_care_level_three_sec  section:nth-child(1) ol li{
    cursor: pointer;
    text-align: left;
    margin: 16px auto;
}
.health_care_level_three_sec  section:nth-child(1) ol li:focus {
    color: blue;
    outline: none;
  }
.health_care_level_three_sec  section:nth-child(2) h2{
    text-align: left;
    color: #333;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.health_care_level_three_sec  section:nth-child(2) p{
    margin: 8px auto 60px auto;
    color: #6E6E73;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
.health_care_level_four{
    width: 100%;
    /* padding: 60px; */
}
.health_care_level_four h2{
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.health_care_level_four h2 span{
    color: #6E6E73;
}
.health_care_level_five{
    width: 100%;
    margin-top: 80px;
    padding: 60px 0px 0px 0px;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}
.health_care_level_five h2{
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.health_care_level_five p{
    width: 71%;
    margin: 24px auto;
    color: #6E6E73;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.health_care_level_five_sliding_info{
    /* display: flex; */
    position: relative;
    align-items: center;
    text-align: center;
    margin: 60px 100px 0px 100px;
    gap: 30px;
    /* border: 1px solid red; */
}
.health_care_level_five_sliding_info{
    /* display: flex; */
    position: relative;
    align-items: center;
    text-align: center;
    margin: 60px 100px 0px 100px;
    gap: 30px;
    /* border: 1px solid red; */
}
.health_care_level_five_sliding_info .item{
    margin: 0px 10px 60px 10px;
    border-radius: 8px;
    /* padding-bottom: 24px; */
    background: #FAFAFA;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.health_care_level_five_sliding_info .item img{
    width: 100%;
}
.health_care_level_five_sliding_info .item h2{
    margin: 24px auto 24px 24px;
    padding-bottom: 24px;
    text-align: left;
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.health_care_level_five_sliding_info .alice-carousel__prev-btn [data-area]::after{
    position: absolute;
    left: -40px;
    color: black;
    /* border: 1px solid red; */
}
.health_care_level_five_sliding_info .alice-carousel__next-btn [data-area]::after{
    position: absolute;
    left: 10px;
    color: black;
    /* border: 1px solid red; */
}
.health_care_modal_body{
    position: relative;
    padding: 140px 206px;
    border-radius: 16px;
    background: #EDF2F4;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}
.health_care_modal_body img:nth-child(1){
    display: block;
    width: 100%;
    background: lightgray -0.746px -22.581px / 100.488% 124.522% no-repeat;
}
.health_care_modal_body img:nth-child(2){
    position: absolute;
    top: 190px; 
    left: 250px;
    cursor: pointer;
}
.health_care_modal_body .health_care_modal_body_paragraph{
    padding: 57px 100px 80px 100px;
    background-color: #fff;
}
.health_care_modal_body .health_care_modal_body_paragraph h2{
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    text-align: left;
}
.health_care_modal_body .health_care_modal_body_paragraph p{
    margin: 24px auto 0px auto;
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    text-align: left;
}
.health_care_level_six{
    width: 100%;
    margin: 40px auto;
    padding: 60px 0px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}
.health_care_level_six h2{
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.health_care_level_six p{
    width: 71%;
    margin: 24px auto 0px auto;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.health_care_level_six .health_care_level_six_card_parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 60px 100px 80px 100px;
    gap: 30px;
}
.health_care_level_six_card_parent .health_care_level_six_card_child {
    padding: 24px;
    border-radius: 8px;
    background: #FFF;
}
.health_care_level_six_card_parent .health_care_level_six_card_child h2{
    text-align: left;
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.health_care_level_six_card_parent .health_care_level_six_card_child p{
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.health_care_level_seven{
    width: 100%;
    margin: 80px auto 0px auto;
    padding: 60px 0px;
    background: #FFF;
    /* background-color: rgb(26, 135, 135); */
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}
.hybrid_research_level_four_unordered_list .alice-carousel__prev-btn-wrapper{
    position: absolute;
    color: black !important;
}
.health_care_level_seven .health_care_level_seven_heading h2:nth-child(1){
    color: #333;
    margin: 60px auto 0px auto;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.health_care_level_seven .health_care_level_seven_heading h2:nth-child(2){
    color: #6E6E73;
    margin: 0px auto  40px auto;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.health_care_level_seven_sec{
    width: 71%;
    display: flex;
    margin: 24px auto 0px auto;
    padding: 24px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}
.health_care_level_seven_sec section:nth-child(2){
    text-align: left; 
    padding: 32px;
    gap: 8px;
}
.health_care_level_seven_sec section:nth-child(2) div h2{
    /* margin: 32px 32px 0px 32px; */
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.health_care_level_seven_sec section:nth-child(2) div p{
    /* margin: 8px auto 0px auto; */
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.health_care_level_seven_sec section:nth-child(2) div h3{
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
}
.health_care_level_seven_sec section:nth-child(2) div ul li{
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}

.health_care_level_eight{
    width: 100%;
    padding: 60px 280px;
}
.health_care_level_eight h2{
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.health_care_level_eight h2 span{
    color: #6E6E73;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.health_care_level_eight_heading_blogs_parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 75px auto 0px auto;
}
.health_care_level_eight_heading_blogs_child{
    display: flex;
}
.health_care_level_eight_heading_blogs_child section img{
    width: 163px;
    height: 150px;
}
.health_care_level_eight_heading_blogs_child section:nth-child(2){
    padding: 30px;
    text-align: left;
}
.health_care_level_eight_heading_blogs_child section h2{
    color: #333;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.health_care_level_eight_heading_blogs_child section p:nth-child(1){
    color: #666;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.health_care_level_eight_heading_blogs_child_blog{
    color: #0166B8;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    cursor: pointer;
}