.footer_one_body{
    height: 1000px;
    background: #EDF2F4;
}
.footer_one{
    width: 70%;
    margin: 60px auto 60px auto;
    padding: 60px 50px;
    border-radius: 8px;
    background: #FFF;
}
.footer_one_heading{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.footer_one_heading h2{
    color: #333;
    text-align: center;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.footer_one_heading h2 span{
    color: #6E6E73;
    text-align: center;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.footer_one_form{
    display: flex;
    margin-top: 40px;
    padding: 30px;
    justify-content: space-between;
    border-radius: 8px;
    background: #F0F0F0;
}
.footer_one_main_form{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.footer_one_main_form input{
    height: 25px;
    margin-bottom: 16px;
    background: transparent;
    border: none;
    border-bottom: 1px solid  #333;
}
.footer_one_main_form button{
    width: 20%;
    height: 40px;
    margin: 24px auto 0 0;
    padding: 8px 16px;
    color: #0166B8;
    border: 1px solid #0166B8;
    border-radius: 4px;
    background: #FFF;
}