body{
    width: 100%;
    background: #EDF2F4;
}
.leaders_level_one{
    width: 60%;
    display: flex;
    margin: 60px auto;
    justify-content: space-between;
    border-radius: 52px;
    background: #FFF;
}
.leaders_level_one_details{
    width: 50%;
    margin: auto 30px;
}
.leaders_body p{
    width: 60%;
    margin: 60px auto 0 auto;
}