body{
    width: 100%;
    background: #EDF2F4;
}
.leaders_level_one{
    /* position: relative; */
    width: 46%;
    display: flex;
    margin: 60px auto;
    border-radius: 52px;
    background: #FFF;
    border: 1px solid black;
}
.leaders_level_one img{
    position: relative;
}
.leaders_level_one_details{
    position: absolute;
    border: 1px solid red;
}
.leaders_body p{
    width: 46%;
    margin: 60px auto;
}