.main_diy_body{
    background-color: #EDF2F4;;
}
.diy_two{
    width: 100%;
    height: 734px;
}
.diy_two_heading h1:nth-child(1){
    color: #333;
    text-align: center;
    margin: 80px auto 0px auto;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* border: 1px solid red; */
}
.diy_two_heading h1:nth-child(2){
    color: #6E6E73;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}   
.card_parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: left;
    margin: 60px 100px 0px 100px;
    padding: 24px;
    /* border: 1px solid red; */
}
.card_parent .cards{
    /* border: 1px solid blue; */
    margin: auto;
    padding: 24px;
}
.card_parent .cards img{
    width: 40px;
    height: 40px;
}
.card_parent .cards h1{
    margin: 24px auto  0px auto;
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* border: 1px solid red; */
}
.card_parent .cards p{
    margin: 8px auto 0px auto;
    color: #666666;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    /* border: 1px solid red; */
}
.diy_three{
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #fff;
    margin: auto;
}
.diy_three_heading{
    display: flex;
    justify-content: center;
    margin: 60px auto 0px 20px;
    gap: 15px;
}
.diy_three_heading p{
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: #333;
}
.diy_three_heading p span{
    color: #6E6E73;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.diy_three .ordered_list{
    display: flex;
    color: #666666;
    list-style: none;
    justify-content: center;
    gap: 8px;
    margin: 40px auto 0px auto;
    align-items: center;
    /* border: 1px solid red; */
}
.diy_three .ordered_list img{
    margin-right: 32px;
}
 .ordered_list li{
    display: flex;
    color: #666666;
    width: 276px;
    height: 38px;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    list-style: none;
    gap: 8px;
}
.diy_four{
    display: flex;
    width: 74.7%;
    padding: 24px;
    margin: 24px auto 0px auto;
    background-color: #FFF;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
    /* border: 1px solid rgb(63, 56, 56); */
}
.diy_four section{
    border: 1px solid red;
}
.diy_four section img{
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
}
.text_diy_four {
    padding: 32px 32px 0px 32px;
}
.text_diy_four .text_heading_diy_four p:nth-child(1){
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-align: left;
}
.text_diy_four .text_heading_diy_four p:nth-child(1) span{
    color: #6E6E73;
}
.text_diy_four .text_heading_diy_four p:nth-child(2){
    display: flex;
    width: 434px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
}
.text_diy_four .listed_diy_four{
    display: flex;
    width: 434px;
    /* height: 30px; */
    flex-direction: column;
    justify-content: center;
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    text-align: left;
}
.listed_diy_four .listed_unordered_list_diy{
    display: flex;
    width: 434px;
    /* height: 40px; */
    margin: 8px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* border: 1px solid red; */
}
/* .diy_four .text_diy_four{
    padding: 32px;
}
.diy_four .text_diy_four p{
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.diy_four .text_diy_four p:nth-child(2){
    width: 434px;
    height: 200px;
    color: #666;
    font-size: 16px;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 140%
}
.diy_four .text_diy_four p:nth-child(3){
    width: 434px;
    height: 30px;
    text-align: left;
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    margin: 16px 0px 0px 0px;
}
.text_diy_four .unordered_list{
    text-align: left;
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}
.text_diy_four .unordered_list li{
    margin: 8px 0px 0px 0px;
} */

.diy_five{
    width: 100%;
    height: 752px;
    padding: 60px 0px 0px 0px;
    background: linear-gradient(315deg, #1F1F1F 0%, #333 100%);
}
.diy_five p{
    color: #F0F0F0;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
}
.diy_five h1{
    color: #F0F0F0;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.diy_five h2{
    color: #B5B5B5;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
    /* border: 1px solid red; */
}
.slide_show .slide p{
    width: 345px;
    height: 40px;
    padding: 24px;
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.diy_five_sliding_img .item{
    width: 393px;
    height: 393px;
    margin: auto;
    gap: 30px;
    background-color: #FFF;
}
.diy_five_sliding_img{
    display: flex;
    /* border: 1px solid red; */
}
.diy_five_sliding_img .item img{
   width: 100%;
}
.diy_five_sliding_img .item p{
    display: flex;
    flex-direction: column;
    margin: 24px;
    text-align: left;
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.diy_five_sliding_img .alice-carousel__prev-btn-item{
    position:absolute;
    left: 35px;
    top: 50%;
    border: 10px rgba(235, 9, 9, 0.4)!important;
    border-radius: 50%;
    color: #FFF !important;
}
.diy_five_sliding_img .alice-carousel__next-btn-item{
    position:absolute;
    left: 1415px;
    top: 50%;
    border: 10px rgba(235, 9, 9, 0.4)!important;
    border-radius: 50%;
    color: #FFF !important;
}