.serve_cards_body{
    margin: 40px 0;
    background: #EDF2F4;
    border: 1px #EDF2F4;
}
.serve_cards_body_heading{
    width: 65%;
    padding: 60px auto;
    margin: 0 auto;
    text-align: center;
}
.serve_cards_body_heading h2{
    margin-bottom:0 ;
    color: #333;
    text-align: center;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.serve_cards_body_heading p{
    color: #666666;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.serve_cards_body_card_parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px 100px;
    gap: 30px;
}
.serve_cards_body_card_child{
    width: 90%;
    padding: 24px;
    text-align: left;
    border-radius: 8px;
    background: #FFF;
}