.telephonic_qual_body {
    background-color: #EDF2F4;
}

.telephonic_qual__level_three {
    width: 86%;
    margin: 0px auto 0px auto;
    padding: 60px;
    border-radius: 8px;
    background: #FFF;
}

.telephonic_qual__level_three_heading {
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.telephonic_qual__level_three_heading h2 {
    color: #333;
}

.telephonic_qual__level_three_heading span {
    color: #6E6E73;
}

.telephonic_qual__level_three .telephonic_qual__level_three_sec {
    /* position: relative; */
    display: flex;
    gap: 30px;
    margin: 60px auto 0px auto;
}

.telephonic_qual__level_three .telephonic_qual__level_three_sec section {
    position: relative;
}

.telephonic_qual__level_three .telephonic_qual__level_three_sec section p {
    position: absolute;
    color: #FFF;
    bottom: 10px;
    left: 24px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    justify-content: center;
}

.section_modal_div_heading {
    position: relative;
}

.section_modal_div_heading_remove {
    position: absolute;
    top: 5%;
    /* left: 10%; */
    cursor: pointer;
}
.section_modal_div_heading_main_img {
    width: 90%;
    margin: 0 60px;
    filter: blur(8px);
}
.section_modal_div_heading_title {
    position: absolute;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    top: 50%;
    left: 20%;
}
.section_modal_div_text{
    padding: 50px 100px;
}