.media_tech_body{
    width: 100%;
    background: #EDF2F4;
}
.media_tech_level_three{
    width: 71%;
    margin: 0px auto;
    padding: 57px 56px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #FFF;
}
.media_tech_level_three h2{
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.media_tech_level_three h2 span{
    color: #6E6E73;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.media_tech_level_three p{
    margin: 24px auto;
    color: #6E6E73;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
}
.media_tech_level_four{
    margin: 80px auto 0px auto;
    padding: 2px 100px; /*padding: 102px 100px;*/
}
.media_tech_level_four .media_tech_level_four_grid{
    display: flex;
    gap: 0px;
}
.media_tech_level_four_grid .media_tech_level_four_grid_text{
    display: flex;
    padding: 60px;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
}
.media_tech_level_four_grid .media_tech_level_four_grid_text h2{
    align-self: flex-start;
}
.media_tech_level_four_grid .media_tech_level_four_grid_text img{
    margin-top: auto;
    align-self: flex-start;
}
.media_tech_level_four .media_tech_level_four_grid section{
    width: 86%;
    margin: 0px auto 60px auto;
    background-color: #fff;
}
.media_tech_level_four .media_tech_level_four_grid section p{
    width: 86%;
    padding: 60px;
    margin: 0px auto 60px auto;
    text-align: left;
    background-color: #fff;
}
.media_tech_level_eight{
    width: 100%;
    padding: 60px 280px;
}
.media_tech_level_eight h2{
    color: #333;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.media_tech_level_eight h2 span{
    color: #6E6E73;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.media_tech_level_eight_heading_blogs_parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 75px auto 0px auto;
}
.media_tech_level_eight_heading_blogs_child{
    display: flex;
}
.media_tech_level_eight_heading_blogs_child section img{
    width: 163px;
    height: 150px;
}
.media_tech_level_eight_heading_blogs_child section:nth-child(2){
    padding: 30px;
    text-align: left;
}
.media_tech_level_eight_heading_blogs_child section h2{
    color: #333;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.media_tech_level_eight_heading_blogs_child section p:nth-child(1){
    color: #666;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.media_tech_level_eight_heading_blogs_child_blog{
    color: #0166B8;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    cursor: pointer;
}